/* STRUCTURE */
body {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1550px;
}

main {
  max-width: 1440px;
  margin: 30px auto;
}

  /* HEADER */
/* NAVBAR */
nav ul {
  display: flex;
  margin: 0px 30px 40px 0px;
  font-size: 20px;
} 

.hebergement_activity {
  display: flex;
}

.hebergement {
  margin: 0;
}

.logo {
  margin-left: 50px;
  width: 100px;
  height: 50px;
  margin-top: 15px;
}

ul {
  list-style:none;
}

a:link {
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  color: black;
}

a.hebergement , a.inscription {
  color: #0065FC;
}

.activity {
  color: black;
}

a.activity:hover {
  color: #0065FC;
}

.titlehebergement:hover , .titleactivity1:hover , .liinscription:hover {
  border-top: solid 2.5px #0065fc;
}

nav ul li {
  padding: 38px 30px 0 30px;
}

.liinscription {
  padding: 36px 0px 0 0px;
}

.titlehebergement {
  padding: 36px 30px 0 30px;
}

.titleactivity1 {
  padding: 36px 30px 0 30px;
}
  /*MAIN*/

/*ICONES*/
.fas .fa-info-circle {
  border-top: solid #e0e0e0 2px;
  border-right: solid #e0e0e0 2px;
  border-bottom: solid #e0e0e0 2px;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.titlepopularity {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 95%;
}

.starspopularity {
  color: #0065fc;
  letter-spacing: -20px;
}

.starspopularityaside {
  color: #0065fc;
  letter-spacing: -20px;
}

.sunstars {
  padding: 45px 0 0 0;
}

.bedroomstars {
  padding: 35px 0 0 0;
}

.whiteandbluestars {
  padding: 53px 0 0 0;
}


.greystar {
  color: #cacaca;
}

#iconpopularitytitle {
  font-size: 22px;
}

#iconeinfo {
  font-size: 16px;
  border-radius: 50%;
  padding: 10px 15px 12px 15px;
  border-top: solid #F2F2F2 1px;
  border-right: solid #F2F2F2 1px;
  border-bottom: solid #F2F2F2 1px;
  border-left: solid #F2F2F2 1px;
  color: #0065FC;
}

i {
  padding: 15px 15px 15px 15px;
  border-radius: 50%;
}

#mapmarker > i {
  background-color: #F2F2F2;
}

.iconsearch {
  display: none !important;
}

.icondesign {
  color:#0065FC;
  background-color: #deebff;
}

/* SECTION SEARCH */
.sectionsearch {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  height: 50px;
  margin-bottom: 30px;
}

#mapmarker {
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  font-size: 1.2em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#searchfield {
  width: 235px;
  border-top: solid #F2F2F2 1px;
  border-bottom: solid #F2F2F2 1px;
  border-left: none;
  border-right: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: initial;
  padding-left: 20px;
}

#searchbutton {
  color: white;
  width: 132px;
  background-color: #0065fc;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: initial;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  position: relative;
  cursor: pointer;
}

/* FILTERS */
.filters {
  display: flex;
  align-items: center;
}

.allfilters {
  display: flex;
  margin: 0px 0px 0px -35px;
}

#economy, #familial, #animals, #romantic{
  border-top: solid #e0e0e0 2px;
  border-right: solid #e0e0e0 2px;
  border-bottom: solid #e0e0e0 2px;
  border-left: none;
  border-radius: 60px;
  padding-right: 15px;
  font-weight: bold;
  margin-left: 1.2vw;
}

#economy:hover, #familial:hover, #animals:hover, #romantic:hover {
  background-color: #F2F2F2;;
  transform: scale(1.015);
}

.texteconomy, .textfamilial, .textromantic, .textanimals {
  margin-left: 10px;
  color: black;
}

/* INFORMATIONS */
.info {
  margin: 30px 0 30px 0px;
}

  /* HEBERGEMENTS / ASIDE */
/* HEBERGEMENTS */
.inline_articles_aside {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55em;
  margin: 10px 0px 0px 0px;
}

#hebergements {
  margin: 30px 0px 30px 30px;
}

.articleshebergements {
  display: flex;
  flex-direction: column-reverse;
  margin: 0px 30px 0px 30px;
}

.descriptionhebergement {
  margin: 0px 60px 0px 0px;
}

.paragraphehebergements {
  margin: 5px 0px 0px 15px;
}

.more {
  margin: 35px 0px 5px 0px;
  font-size: 20px;
}

.boxhebergements {
  width: 265px;
  height: 215px;
  background-color: #F2F2F2;
  border-radius: 25px;
  margin: 0px 0px 25px 0px;
  box-shadow: 4px 2px 20px rgb(201 201 201);
}

.boxhebergements:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

.imageshebergements {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 255px;
  height: 125px;
  object-fit: cover;
  margin: 5px 5px 0px 5px;
}

.containerarticles {
  background-color: #F2F2F2;
  border-radius: 25px;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.article1, .article2, .article3, .article4, .article5, .article6 {
  width: 13vw;
  background-color:#F2F2F2;
  border-radius: 25px;
  padding: 0.35em;
  margin: 10px 0 25px 0;
  box-shadow: 4px 2px 20px rgb(201, 201, 201);
}

h4.cannebiere, h4.port, h4.mouettes, h4.mer, h4.lepanier, h4.amina {
  margin: 0 0 0 15px;
}

/* ASIDE  */
aside {
  background-color: #F2F2F2;
  border-radius: 25px;
  width: 33%;
}

.titlepopularities {
  margin: 0;
  padding: 15px 0px 0px 190px;
}

.descriptionpopularity {
  padding: 5px 5px 5px 0;
}

.h2_popularity {
  margin: 40px 0px 25px 40px;
}

.blocpopularity {
  margin: 0px 30px 30px 30px;
}

.articlespopularity {
  background-color: #F2F2F2;
  border-radius: 20px;
  box-shadow: 4px 2px 20px rgb(201 201 201);
  height: 10em;
  margin: 0 0 15px 0;
}

.paragraphepopularities {
  padding: 15px 75px 0px 190px;
  margin: 0;
}



.imagespopularities {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 40%;
  height: 93%;
  float: left;
  margin: 5px 5px 5px 5px;
  object-fit: cover
}

/*SECTION ACTIVITIES*/
.titleactivity {
  padding: 36px 30px 0 30px;
}

.boxactivity_2 {
  display: flex;
  flex-direction: column;
}

.boxactivites_b {
  box-shadow: 4px 2px 20px rgb(201 201 201);
  border-radius: 20px;
  width: 300px;
  height: 250px;
  margin: 0px 20px 35px 0px;
}

.boxactivites_2, .boxactivites_4 {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0;
}

.boxactivites_1, .boxactivites_3 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.boxactivity_b {
  width: 21vw;
  height: 50%;
  padding: 0;
  margin: 0;
  box-shadow: 4px 2px 20px rgb(201, 201, 201);
  border-radius: 30px;
}

.boxactivity_f {
  box-shadow: 4px 2px 20px rgb(201 201 201);
  border-radius: 30px;
  width: 385px;
  height: 15em;
  margin: 0;
}

.boxactivity_c {
  box-shadow: 4px 2px 20px rgb(201 201 201);
  border-radius: 20px;
  margin: 0;
  height: 190px;
  width: 300px;
}

.boxactivity_e {
  width: 385px;
  margin: 0px 0px 30px 0px;
  box-shadow: 4px 2px 20px rgb(201 201 201);
  border-radius: 20px;
  height: 13em;
}

.imgactivity2 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 13em;
  object-fit: cover;
}

.imgactivity6 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 12em;
  object-fit: cover;
}

.imgactivity3 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 147px;
  margin: 0;
}

.imgactivity5 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 165px;
}

.sectionsactivity {
  margin: 30px 15px 0px 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boxactivity_a , .boxactivity_d {
  box-shadow: 4px 2px 20px rgb(201 201 201);
  border-radius: 30px;
  margin: 0px 25px 0px 0px;
  height: 475px;
}

.imgactivity1 , .imgactivity4 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 27em;
}

.h3boxactivty {
  padding: 7px 0px 0px 25px;
  margin: 0;
}

/* FOOTER */
footer {
  background-color: #F2F2F2;
}

.categoriesfooter {
  display: flex;
  max-width: 1550px;
  background-color: #F2F2F2;
  margin: 0px auto;
}

.marginfooter {
  margin-left: 42px;
}

.apropos {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 15px;
}

.hebergementsfooter {
  padding: 0px 250px 0px 230px;
  display: flex;
  flex-direction: column;
}

.assistance {
  margin: 0;
  display: flex;
  flex-direction: column;
}
/* _____________________________________________________________ */
/* MEDIA QUERIES */

/* 4K */
@media only screen and (min-width: 3840px) and (max-width: 5119px) {
  /* SEARCH */
  .sectionsearch {
    margin: 60px 0;
  }

  /* FILTERS */
  .filters {
    margin: 40px 0;
  }
    
  /* HEBERGEMENT / ASIDE */
  .inline_articles_aside {
    margin: 70px 0;
  }

  /* ACTIVITIES */

  .titleactivity {
    padding: 30px 0px 0 0px;
    margin: 0;
  }

  .sectionsactivity {
    margin: 75px 0;
  }

  /* FOOTER */
  footer {
    padding: 0 0 170px 0;
  }
}

/* TABLETS */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  body {
    background-color: black;
  }

  /* SECTION HEBERGEMENTS */
  .wrapper {
    width: 38em;
  }

  /* ASIDE */
  .descriptionpopularity {
    padding: 0px 0px 0px 0;
  }

  .titlepopularities {
    margin: 0;
    padding: 0px 0px 0px 0;
  }

  .paragraphepopularities {
    padding: 15px 0 0 0;
    margin: 0;
  }

  .starspopularityaside { 
    padding: 45px 0 0 0;
  }

  .articlespopularity { 
    margin: 0 0 50px 0;
  }

  .blocpopularity {
    margin: 35px 30px 30px 30px;
  }

  /* SECTION ACTIVITIES */
  .h3boxactivty {
    padding: 0px 0px 0px 20px;
    font-size: 15px;
  }

  .boxactivites_1, .boxactivites_3 {
    margin: 0 0 0 15px;
  }
  /* FOOTER */
  .hebergementsfooter {
    padding: 0px 15em 0px 15em;
  }
}
@media only screen and (min-width: 834px) and (max-width: 900px) {
  header, body, html {
    overflow-x: hidden;
    margin: 0px 15px 0px 15px;
  }

  body {
    margin: 0;
  }

  header {
    margin-top: 20px;
  }
  /* STRUCTURE */
    /* NAVBAR */

    /* LOGO */
    .logo {
    height: 40px;
    margin: 10px 0px 0px 0px;
    }
    /* LOGO */

  /* HEADER */
      /* NAVBAR */
  nav ul {
    font-size: 16px;
    display: flex;
    margin: -10px 15px 40px 0px;
  }
    /* NAVBAR */
  /* HEADER */

  /* MAIN */
  .titleprincipal {
    font-size: 1.5em;
  }
    /* FILTER */
  .economy, #familial, #animals, #romantic {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
  }

  .allfilters {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
  }

  .filters {
    font-size: 14px;
  }

  li#economy {
    height: 43px;
    margin: 0 35px 0 8px;
  }
    /* FILTER */

    /* SECTION HEBERGEMENT */
  .containerarticles {
    flex-direction: column;
    width: 100%;
  }

  .wrapper {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 740px;
  }

  #hebergements {
    margin: 20px 0px 25px 25px;
    font-size: 22px;
  }

  .boxhebergements {
    width: 350px;
    height: 365px;
    text-align: center;
  }

  .imageshebergements {
    width: 340px;
    height: 270px;
  }

  .paragraphehebergements {
    margin: 5px 15px 0px 15px;
  }

  h4.cannebiere, h4.port, h4.mouettes, h4.mer, h4.lepanier, h4.amina {
    margin: 0 15px 0px 15px;
  }
  .descriptionhebergement {
    margin: 0;
  }

  /* SECTION HEBERGEMENT */

  /* ASIDE */
  aside {
    width: 100%;
    margin-top: 25px;
  }

  .inline_articles_aside {
    flex-wrap: wrap;
  }

  /* ASIDE */

  /* SECTION ACTIVITY */
  .boxactivites_1, .boxactivites_2, .boxactivites_3,  .boxactivites_4,   .boxactivites_5, .boxactivites_6 {
    width: 40vw;
    margin-top: 35px;
  }

  .imgactivity1, .imgactivity2, .imgactivity3, .imgactivity4, .imgactivity5, .imgactivity6 {
    height: 25em;
  }

  .boxactivity_f {
    margin: 0 !important ;
  }

  .h3boxactivty {
    padding: 0px 0px 0px 15px;
  }

  .boxactivity_a, .boxactivites_b, .boxactivity_c, .boxactivity_d, .boxactivity_e, .boxactivity_f {
    width: 804px;
    height: 445px;
  }

  .boxactivity_e {
    margin: 0px 20px 0px 0px;
  }

  .boxactivites_b {
    box-shadow: 4px 2px 20px rgb(201 201 201);
    border-radius: 20px;
    height: 445px;
    margin: 0px 20px 35px 0px;
  }
  .boxactivites_1 {
    margin-bottom: 30px;
  }

  .boxactivites_2 {
    margin-top: 0;
  }

  .sectionsactivity {
    display: inline-block;
    margin: 0;
    width: 750px;
  }

 /* MAIN */
 
 /* FOOTER */
  footer {
    overflow: hidden;
    margin: 10px 0px 5px -35px;
    justify-content: space-around;
  }

  .hebergementsfooter {
    padding: 0px;
  }
 /* FOOTER */
}
@media only screen and (min-width: 800px) and (max-width: 833px) {

  header, body, html {
    overflow-x: hidden;
    margin: 0px 15px 0px 15px;
  }

  header {
    margin-top: 20px;
  }
  /* STRUCTURE */
    /* NAVBAR */

    /* LOGO */
    .logo {
    height: 40px;
    margin: 10px 0px 0px 0px;
    }
    /* LOGO */

  /* HEADER */
      /* NAVBAR */
  nav ul {
    font-size: 16px;
    display: flex;
    margin: -10px 15px 40px 0px;
  }
    /* NAVBAR */
  /* HEADER */

  /* MAIN */
  .titleprincipal {
    font-size: 1.5em;
  }
    /* FILTER */
  .economy, #familial, #animals, #romantic {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
  }

  .allfilters {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
  }

  .filters {
    font-size: 14px;
  }

  li#economy {
    height: 43px;
    margin: 0 35px 0 8px;
  }
    /* FILTER */

    /* SECTION HEBERGEMENT */
  .containerarticles {
    flex-direction: column;
    width: 100%;
  }

  .wrapper {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 675px;
  }

  #hebergements {
    margin: 20px 0px 25px 25px;
    font-size: 22px;
  }

  .boxhebergements {
    width: 315px;
    height: 365px;
    text-align: center;
  }

  .imageshebergements {
    width: 305px;
    height: 270px;
  }

  .paragraphehebergements {
    margin: 5px 15px 0px 15px;
  }

  h4.cannebiere, h4.port, h4.mouettes, h4.mer, h4.lepanier, h4.amina {
    margin: 0 15px 0px 15px;
  }
  .descriptionhebergement {
    margin: 0;
  }

  /* SECTION HEBERGEMENT */

  /* ASIDE */
  aside {
    width: 100%;
    margin-top: 25px;
  }

  .inline_articles_aside {
    flex-wrap: wrap;
  }

  /* ASIDE */

  /* SECTION ACTIVITY */
  .boxactivites_1, .boxactivites_2, .boxactivites_3,  .boxactivites_4,   .boxactivites_5, .boxactivites_6 {
    width: 40vw;
    margin-top: 35px;
  }

  .imgactivity1, .imgactivity2, .imgactivity3, .imgactivity4, .imgactivity5, .imgactivity6 {
    height: 25em;
  }

  .boxactivity_f {
    margin: 0 !important ;
  }

  .h3boxactivty {
    padding: 0px 0px 0px 15px;
  }

  .boxactivity_a, .boxactivites_b, .boxactivity_c, .boxactivity_d, .boxactivity_e, .boxactivity_f {
    width: 740px;
    height: 445px;
  }

  .boxactivity_e {
    margin: 0px 20px 0px 0px;
  }

  .boxactivites_b {
    box-shadow: 4px 2px 20px rgb(201 201 201);
    border-radius: 20px;
    height: 445px;
    margin: 0px 20px 35px 0px;
  }
  .boxactivites_1 {
    margin-bottom: 30px;
  }

  .boxactivites_2 {
    margin-top: 0;
  }

  .sectionsactivity {
    display: inline-block;
    margin: 0;
    width: 750px;
  }

 /* MAIN */
 
 /* FOOTER */
  footer {
    overflow: hidden;
    margin: 10px 0px 5px -35px;
    justify-content: space-around;
  }

  .hebergementsfooter {
    padding: 0px;
  }
 /* FOOTER */
}
@media (width: 768px) and (height: 1024px) {
  /* STRUCTURE */
  header, body, html {
    overflow-x: hidden;
    margin: 0px 15px 0px 15px;
  }

  body {
    margin: 0;
  }

  header {
    margin-top: 20px;
  }
  /* STRUCTURE */
    /* NAVBAR */

    /* LOGO */
    .logo {
    height: 40px;
    margin: 10px 0px 0px 0px;
    }
    /* LOGO */

  /* HEADER */
      /* NAVBAR */
  nav ul {
    font-size: 16px;
    display: flex;
    margin: -10px 15px 40px 0px;
  }
    /* NAVBAR */
  /* HEADER */

  /* MAIN */
  .titleprincipal {
    font-size: 1.5em;
  }
    /* FILTER */
  #economy, #familial, #animals, #romantic {
    display: flex;
    align-items: center;
  }

  .allfilters {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
  }

  .filters {
    font-size: 14px;
  }
    /* FILTER */

    /* SECTION HEBERGEMENT */
  .containerarticles {
    flex-direction: column;
    width: 100%;
  }

  .wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  #hebergements {
    margin: 20px 0px 25px 25px;
    font-size: 22px;
  }

  .boxhebergements {
    width: 545px;
    height: 415px;
    margin: 0px 65px 20px 65px;
    text-align: center;
  }

  .imageshebergements {
    width: 535px;
    height: 320px;
}

  .paragraphehebergements {
    margin: 5px 15px 0px 15px;
  }

  h4.cannebiere, h4.port, h4.mouettes, h4.mer, h4.lepanier, h4.amina {
    margin: 0 15px 0px 15px;
  }
  .descriptionhebergement {
    margin: 0;
  }

  /* SECTION HEBERGEMENT */

  /* ASIDE */
  aside {
    width: 100%;
    margin-top: 25px;
  }

  .inline_articles_aside {
    flex-wrap: wrap;
  }

  /* ASIDE */

  /* SECTION ACTIVITY */
  .boxactivites_1, .boxactivites_2, .boxactivites_3,  .boxactivites_4,   .boxactivites_5, .boxactivites_6 {
    width: 40vw;
    margin-top: 35px;
  }

  .imgactivity1, .imgactivity2, .imgactivity3, .imgactivity4, .imgactivity5, .imgactivity6 {
    height: 25em;
  }

  .boxactivity_f {
    margin: 0 !important ;
  }

  .h3boxactivty {
    padding: 0px 0px 0px 15px;
  }

  .boxactivity_a, .boxactivites_b, .boxactivity_c, .boxactivity_d, .boxactivity_e, .boxactivity_f {
    width: 650px;
    height: 440px;
  }

  .boxactivity_e {
    margin: 0px 20px 0px 0px;
  }

  .boxactivites_b {
    box-shadow: 4px 2px 20px rgb(201 201 201);
    border-radius: 20px;
    height: 440px;
    margin: 0px 20px 35px 0px;
  }
  .boxactivites_1 {
    margin-bottom: 30px;
  }

  .boxactivites_2 {
    margin-top: 0;
  }

  .sectionsactivity {
    display: inline-block;
    margin: 0px 0px 40px 40px;
  }


 /* MAIN */
 
 /* FOOTER */
  footer {
    overflow: hidden;
    margin: 10px 0px 5px -35px;
    justify-content: space-around;
  }

  .hebergementsfooter {
    padding: 0px;
  }
 /* FOOTER */
}

/* MOBILES */ 
@media only screen and (min-width: 414px) and (max-width: 599px){

  /* STRUCTURE */
  body {
    margin: 0;
    background-color: rgb(165, 230, 44);
    overflow-x: hidden;
  }
  /* STRUCTURE */

  /* HEADER */  
    /* LOGO */
  .logo {
    margin: 15px 0 0 15px;
    width: 90px;
    height: 45px;
  }
    /* LOGO */

    /* NAVBAR */
  header {
    display: initial;
    margin: 0;
  }
  nav ul {
    display: flex;
    margin: 0;
    font-size: 20px;
    padding: 0;
    flex-wrap: wrap-reverse;
  }
  
  nav ul li:hover {
    border-top: none;
  }

  nav ul li {
    padding: 0;
    margin: 0;
  }

  .hebergement {
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
    padding: 0;
    width: 50%;
    margin: 35px 0 0 0;
    text-align: center;
  }

  .titlehebergement {
    padding: 36px 30px 0 30px;
  }

  .activity {
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
    border-bottom-color: rgb(242, 242, 242);
    width: 50%;
    padding-bottom: 15px;
    padding-top: 35px;
    text-align: center;
  }

  .hebergement_activity {
    display: flex;
    width: 375px;
  }

  .liinscription {
    padding: 0px 0px 0px 160px;
  }

  a.hebergement, a.inscription {
    color: #0065FC;
    position: absolute;
    top: 30px;
  }
  /* NAVBAR */
/* HEADER */

/* MAIN */

  main {
    overflow-x: hidden;
    max-width: none;
  }
  /* SEARCH */
  .titleprincipal {
    font-size: 17px;
    margin: 0;
    width: 22em;
  }

  .inscription {
    padding: 0px 0px 0px 100px;
  }

  .sectionsearch {
    margin: 0;
    padding: 0 21px;
  }

  .search {
    display: flex;
    margin-bottom: 30px;
    width: 10%;
  }
  /* SEARCH */

  /* FILTER */
  .searchiconphone:active {
    color: #F2F2F2;
    padding: 0 1.5rem;
  }

  h3.titlefilter {
    margin: 0px 0px 20px 50px;
  }

  .allfilters {
    display: flex;
    margin: 0;
    overflow-x: -moz-hidden-unscrollable;
    flex-wrap: wrap;
    width: 20em;
    padding: 0 20px;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
  }

  #economy, #familial, #animals, #romantic {
    margin: 0px 0px 10px 5px;
  }

  /* FILTER */
  /* INFORMATION */
  .info {
    margin: 35px 0px 35px 0px;
    padding: 0 20px;
  }
  /* ICONS */
  #searchtitle {
    display: none;
  }

  .iconsearch {
    display: block !important;
  }

  #iconeinfo {
    font-size: 14px;
  }

  .starspopularityaside > i {    
    padding: 0;
  }

  .greystar > i {
    margin: 0;
    padding: 0px 25px 0px 0px;
  }

  .starspopularityaside {
    margin: 0;
    letter-spacing: 0;  
  }
  /* ICONS */
  
  /* HEBERGEMENT */
  .wrapper {
    margin: 0;
    display: flex;
    width: 18em;
  }

  .imageshebergements {
    width: 278px;
    height: 125px;
  }

  .boxhebergements {
    margin: 0px 0px 25px 0px;
    width: 350px !important;
  }

  .inline_articles_aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .boxhebergements {
    width: 210px;
    height: 250px;
  }

  #hebergements {
    margin: 20px 0px 25px 0px;
  }

  .containerarticles {
    width: 22em;
    margin: 21px 0px 0px 11px;
    background-color: #F2F2F2;
  }

  .articleshebergements {
    flex-wrap: nowrap;
    background-color:#F2F2F2;
  }
    /* HEBERGEMENT */

    /* ASIDE */  
    aside {
      margin: 0px 0px 0 0px;
      border-radius: 0;
      width: 21em;
      padding: 0 20px;
  }

  .paragraphepopularities {
    padding: 8px 0px 40px;
    margin: 0;
  }

  .titlepopularities {
    margin: 0;
    padding: 15px 0px 0px 0px;
  }

  .h2_popularity {
      margin: 35px 0px 20px 20px;
  }

  .articlespopularity {
    width: 100%;
  }

  .imagespopularities {
    width: 125px;
    height: 150px;
  }

  .blocpopularity {
    margin: 0 20px;
  }

  .more {
    margin: 0px 0px 0px 0px;
  }
    /* ASIDE */

    /* SECTION ACTIVITY */

  .boxactivites_1, .boxactivites_2, .boxactivites_3, .boxactivites_4, .boxactivites_5, .boxactivites_6 {
    width: 60vw;
    height: 60vw;
  }

  .boxactivity_a , .boxactivites_b , .boxactivity_c , .boxactivity_d , .boxactivity_e, .boxactivity_f {
    width: 85vw;
    height: 57vw;
  }

  .boxactivity_f , .boxactivity_c {
    margin: 0;
  }

  .imgactivity1, .imgactivity2, .imgactivity3, .imgactivity4, .imgactivity5, .imgactivity6 {
    height: 170px;
    width: 305px;
  }

  .h3boxactivty {
    padding: 5px 0 0 15px;
    margin: 0;
  }

  .sectionsactivity {
    display: inline-block;
    padding-left: 25px;
    margin: 0;
  }
    /* SECTION ACTIVITY */

    /* FOOTER */
  .hebergementsfooter {
    padding: 0px;
    margin: 0px;
  }

  .apropos {
    margin: 0;
  }

  footer {
    display: flex;
    margin: 0;
  }

  .categoriesfooter {
    flex-direction: column;
    margin-right: 100px;
  }


  .marginfooter {
    margin: 10px 0px 0px 40px;
  }
    /* FOOTER */
/* MAIN */
}

@media only screen and (min-width: 375px) and (max-width: 383px){

  /* STRUCTURE */
  body {
    margin: 0;
    background-color: rgb(251, 168, 212);
    overflow-x: hidden;
  }

  /* HEADER */  
    /* LOGO */
  .logo {
    margin: 15px 0 0 15px;
    width: 90px;
    height: 45px;
  }

    /* NAVBAR */
  header {
    display: initial;
    margin: 0;
  }
  nav ul {
    display: flex;
    margin: 0;
    font-size: 20px;
    padding: 0;
    flex-wrap: wrap-reverse;
  }
  
  nav ul li:hover {
    border-top: none;
  }

  nav ul li {
    padding: 0;
    margin: 0;
  }

  .hebergement {
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
    padding: 0;
    width: 50%;
    margin: 35px 0 0 0;
    text-align: center;
  }

  .titlehebergement {
    padding: 36px 30px 0 30px;
  }

  .activity {
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
    border-bottom-color: rgb(242, 242, 242);
    width: 50%;
    padding-bottom: 15px;
    padding-top: 35px;
    text-align: center;
  }

  .hebergement_activity {
    display: flex;
    width: 375px;
  }

  .liinscription {
    padding: 0px 0px 0px 160px;
  }

  a.hebergement, a.inscription {
    color: #0065FC;
    position: absolute;
    top: 30px;
  }

/* MAIN */
  main {
    overflow-x: hidden;
    max-width: none;
  }
  /* SEARCH */
  .titleprincipal {
    font-size: 17px;
    margin: 0;
    width: 22em;
  }

  .inscription {
    padding: 0px 0px 0px 100px;
  }

  .sectionsearch {
    margin: 0;
    padding: 0 21px;
  }

  .search {
    display: flex;
    margin-bottom: 30px;
    width: 10%;
  }

  /* FILTER */
  .searchiconphone:active {
    color: #F2F2F2;
    padding: 0 1.5rem;
  }

  h3.titlefilter {
    margin: 0px 0px 20px 50px;
  }

  .allfilters {
    display: flex;
    margin: 0;
    overflow-x: -moz-hidden-unscrollable;
    flex-wrap: wrap;
    width: 20em;
    padding: 0 20px;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
  }

  #economy, #familial, #animals, #romantic {
    margin: 0px 0px 10px 5px;
  }

  /* INFORMATION */
  .info {
    margin: 35px 0px 35px 0px;
    padding: 0 20px;
  }

  /* ICONS */
  #searchtitle {
    display: none;
  }

  .iconsearch {
    display: block !important;
  }

  #iconeinfo {
    font-size: 14px;
  }

  .starspopularityaside > i {    
    padding: 0;
  }

  .greystar > i {
    margin: 0;
    padding: 0px 25px 0px 0px;
  }

  .starspopularityaside {
    margin: 0;
    letter-spacing: 0;  
  }

  .sunstars {
    padding: 0;
  }

  .bedroomstars, .whiteandbluestars {
    padding: 10px 0 0 0;
  }
  /* HEBERGEMENT */
  .wrapper {
    margin: 0;
    display: flex;
    width: 355px;
  }

  .imageshebergements {
    width: 343px;
    height: 125px;
  }

  .inline_articles_aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .boxhebergements {
    width: 352px;
    height: 210px;
    margin: 0px 0px 25px 10px;
  }

  #hebergements {
    margin: 20px 0px 25px 0px;
  }

  .containerarticles {
    width: 380px;
    margin: 0;
    background-color: #ffffff;
    border-radius: 0;
  }

  .articleshebergements {
    flex-wrap: nowrap;
    background-color: #FFF;
    margin: 0;
  }

    /* ASIDE */  
    aside {
      margin: 0px 0px 0 0px;
      border-radius: 0;
      width: 21em;
      padding: 0 20px;
  }

  .paragraphepopularities {
    padding: 8px 0px 40px;
    margin: 0;
  }

  .titlepopularities {
    margin: 0;
    padding: 15px 0px 0px 0px;
  }

  .h2_popularity {
      margin: 35px 0px 20px 20px;
  }

  .articlespopularity {
    width: 100%;
  }

  .imagespopularities {
    width: 125px;
    height: 150px;
  }

  .blocpopularity {
    margin: 0 20px;
  }

  .more {
    margin: 0px 0px 0px 25px;
  }
    /* ASIDE */

    /* SECTION ACTIVITY */

  .boxactivites_1, .boxactivites_2, .boxactivites_3, .boxactivites_4, .boxactivites_5, .boxactivites_6 {
    width: 60vw;
    height: 60vw;
  }

  .boxactivity_a , .boxactivites_b , .boxactivity_c , .boxactivity_d , .boxactivity_e, .boxactivity_f {
    width: 325px;
    height: 210px;
  }

  .boxactivity_f , .boxactivity_c {
    margin: 0;
  }

  .imgactivity1, .imgactivity2, .imgactivity3, .imgactivity4, .imgactivity5, .imgactivity6 {
    height: 170px;
    width: 325px;
  }

  .h3boxactivty {
    padding: 5px 0 0 15px;
    margin: 0;
  }

  .sectionsactivity {
    display: inline-block;
    padding-left: 25px;
    margin: 0;
  }
    /* SECTION ACTIVITY */

    /* FOOTER */
  .hebergementsfooter {
    padding: 0px;
    margin: 0px;
  }

  .apropos {
    margin: 0;
  }

  footer {
    display: flex;
    margin: 0;
  }

  .categoriesfooter {
    flex-direction: column;
    margin-right: 100px;
  }


  .marginfooter {
    margin: 10px 0px 0px 40px;
  }
    /* FOOTER */
/* MAIN */
}


