/* STRUCTURE */
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

main {
  margin-left: 50px;
  margin-right: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  background-color: #f2f2f2;
  padding-bottom: 30px;
  padding-top: 40px;
}
/* STRUCTURE */

  /* HEADER */
/* NAVBAR */
nav ul {
  display: flex;
  margin: 0px 30px 40px 0px;
  font-size: 20px;
} 

.logo {
  margin-left: 50px;
  width: 100px;
  height: 50px;
  margin-top: 15px;
}

ul {
  list-style:none;
}

a:link {
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  color: black;
}

a.hebergement , a.inscription {
  color: blue;
}

.activity {
  color: black;
}

a.activity:hover {
  color: blue;
}

nav ul li:hover {
  border-top: solid 2.5px #0065fc;
}

nav ul li {
  padding: 38px 30px 0 30px;
}
/* NAVBAR */
  /* HEADER */

  /* MAIN */
/*INFORMATION*/
.iconeinfo {
  border: solid 1px #f2f2f2;
  color: blue;
}
/*INFORMATION*/

/* SEARCH */
.sectionsearch {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  height: 50px;
  margin-bottom: 30px;
}

#mapmarker {
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-size: 1.2em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#mapmarker > i {
  background-color: #f2f2f2;
}

#searchfield {
  width: 235px;
  border-top: solid #f2f2f2 1px;
  border-bottom: solid #f2f2f2 1px;
  border-left: none;
  border-right: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: initial;
  padding-left: 20px;
}

#searchbutton {
  color: white;
  width: 132px;
  background-color: #0065fc;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: initial;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  position: relative;
  cursor: pointer;
}

.icondesign {
  color:blue;
  background-color: #deebff;
}

/* SEARCH */

/* FILTERS */
.filters {
  display: flex;
  align-items: center;
}

.allfilters {
  display: flex;
}

#economy, #familial, #animals, #romantic{
  border-top: solid #e0e0e0 2px;
  border-right: solid #e0e0e0 2px;
  border-bottom: solid #e0e0e0 2px;
  border-left: none;
  border-radius: 60px;
  padding-right: 15px;
  font-weight: bold;
  margin-left: 1.2vw;
}

i {
  padding: 15px 15px 15px 15px;
  border-radius: 50%;
}

.texteconomy, .textfamilial, .textromantic, .textanimals {
  margin-left: 10px;
  color: black;
}
/* FILTER */

/* ARTICLES */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

#hebergements {
  margin: 40px 0px 30px 50px;
}

.articleshebergements {
  background-color: #f2f2f2;
  border-radius: 25px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

.more {
  margin-left: 50px;
  margin-right: 50px;
}

.boxhebergements {
  width: 315px;
  height: 280px;
  background-color: white;
  border-radius: 25px;
  padding: 6px;
  margin: 10px 0 25px 0;
  box-shadow: 4px 2px 20px rgb(201, 201, 201);
  display: flex;
  flex-direction: column;
}

.boxhebergements:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

.description_hebergement {
  display: inline-block;
  margin-inline: 15px;
}

.imageshebergements {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerarticles {
  background-color: #f2f2f2;
  border-radius: 25px;
  margin-top: 45px;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.article1, .article2, .article3, .article4, .article5, .article6 {
  width: 13vw;
  background-color: white;
  border-radius: 25px;
  padding: 0.35em;
  margin: 10px 0 25px 0;
  box-shadow: 4px 2px 20px rgb(201, 201, 201);
}
/* ARTICLES */
/*ICONES*/
.fas .fa-info-circle {
  border-top: solid #e0e0e0 2px;
  border-right: solid #e0e0e0 2px;
  border-bottom: solid #e0e0e0 2px;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.iconpopularity {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 93%;
}

.starspopularity {
  color: #0065fc;
  display: flex;
  margin-left: -15px;
  margin-top: -15px;
}

.greystar {
  color:#f2f2f2;
}
/*ICONES*/
/*MAIN*/
.inline_articles_aside {
  display: flex;
  justify-content: space-between;
}
/* ASIDE  */
aside {
  background-color: #f2f2f2;
  border-radius: 25px;
  width: 33%;
  margin-top: 45px;
}

.titlepopularity {
  margin: 40px 0px 30px 50px;
}

.blocpopularity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 35px;
  margin-right: 35px;
}

.articlespopularity {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
  margin-top: 11px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 2px 20px rgb(201, 201, 201);
  display: flex;
  flex-direction: column;
}

.imagepopularity {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 40%;
  height: 185px;
  float: left;
  padding-right: 10px;
  margin-right: 20px;
}
/*ASIDE*/

/*SECTION ACTIVITY*/
.titleactivity {
  margin-top: 10px;
}

.boxactivity_2 {
  display: flex;
  flex-direction: column;
}

.boxactivites_b {
  width: 21vw;
  height: 50%;
  padding: 0;
  margin: 0;
  box-shadow: 4px 2px 20px rgb(201, 201, 201);
  border-radius: 20px;
}

.boxactivites_2 {
  display: flex;
  flex-direction: column;
}

.activitycity {
  margin-top: 65px;
}

.boxactivites_1 {
  display: flex;
  flex-direction: column;
}

.boxactivity_b {
  width: 21vw;
  height: 50%;
  padding: 0;
  margin: 0;
  box-shadow: 4px 2px 20px rgb(201, 201, 201);
  border-radius: 30px;
}

.boxactivity_f {
  margin: 0;
  box-shadow: 4px 2px 20px rgb(201, 201, 201);
  border-radius: 30px;
  margin-top: 40px;
}


.boxactivity_c {
  width: 21vw;
  padding: 0;
  margin: 0;
  box-shadow: 4px 2px 20px rgb(201, 201, 201);
  border-radius: 20px;
  margin-top: 40px;
}

.boxactivity_e {
  width: 21vw;
  margin: 0;
  box-shadow: 4px 2px 20px rgb(201, 201, 201);
  border-radius: 20px;
  height: 240px;
}

.imgactivity2 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 307px;
  object-fit: cover;
}

.imgactivity6 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 262px;
  object-fit: cover;
}

.imgactivity3 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 165px;
  object-fit: cover;
}

.imgactivity5 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.sectionsactivity {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  height: 42em;
}

.boxactivity_a , .boxactivity_d {
  width: 420px;
  box-shadow: 4px 2px 20px rgb(201, 201, 201);
  border-radius: 30px;
  margin: 0;
}

.imgactivity1 , .imgactivity4 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 542px;
  object-fit: cover;
}
/*SECTION ACTIVITY*/
  /* MAIN */


/* FOOTER */
footer {
  display: flex;
  background-color: #f2f2f2;
  flex-direction: row;
}

.marginfooter {
  margin-left: 42px;
}

.apropos {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.hebergementsfooter {
  padding-inline: 400px;
}

/* FOOTER */